ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

li a {
    display: block;
    color: #808080;
    text-align: center;
    padding: 22px 22px;
    text-decoration: none;
    float: right;
    font-family: sans-serif;
    font-weight: bold;
}

li a:hover {
    color: #b88051;
}

.logo {
    float: left;
    height: 70px;
    width: 147px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.exploreasset {
    font-family: sans-serif;
    font-weight: lighter;
    margin-right: 10px;
    color: gray;
}

h1 {
    text-align: center;
    color: #006600;
    font-size: xx-large;
    font-family: "Gill Sans", "Gill Sans MT", " Calibri", "Trebuchet MS",
        "sans-serif";
}

td {
    background-color: #e4f5d4;
    border: 1px solid black;
}

th,
td {
    font-weight: bold;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

td {
    font-weight: lighter;
}
